@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities */
.contact-button {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  
  .contact-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FF540A;
    transition: all 0.4s ease;
    z-index: -1;
  }
  
  .contact-button:hover::before {
    left: 0;
  }
  
